.service{
    padding: 3rem 0;
}
.service__details{
    background-color:#f3f7fd;
    display: flex;
}
.service__img{
    flex: 2;
}
.service__info{
    flex: 3;
}
.service__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.service__icon{
    color:#086AD8 !important;
    font-size: 25px;
    margin-right: 10px !important;
}
 .tabs-btn {
     border-radius: 3px;
     background: #f3f7fd;
     padding: 15px 40px;
     margin: 5px 10px;
     margin-bottom: 30px;
     cursor: pointer;
     font-weight: 600;
     font-size: 1rem;
     border: none;
     position: relative;
 }
 .tabs-btn-active {
     color: white;
     background-color:#086AD8;
 }
 .service__info{
     padding: 2rem ;
 }
 .service__info > h1 {
    color: #0e2b3d;
    font-size: 25px;
 }
 .service__info > p {
    color: #666666;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    padding: .81rem 0;
    line-height: 1.7;
 }
 .service__info > h4 {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     color: #0e2b3d;
     font-weight: 600;
     position: relative;
 }
 .service__info > a {
    color: #086AD8;
    font-weight: 600;
    position: relative;
    padding: 15px 0;
    
 }
.service__info>a::after {
     position: absolute;
     content: "";
     margin-left: 10px;
     top: 50%;
     height: 2px;
     width: 20px;
     background: #086AD8;
 }
@media (max-width:567px){
 .service__details,
 .service__btn {
     flex-direction: column;
 }
 .service__btn{
     justify-content: unset;
     align-items:unset;
 }
 .tabs-btn{
     margin-bottom: 20px;
 }
 .service__info {
     padding: 1rem;
 }
}