.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.div{
 display: flex;
justify-content: center;
align-items: center;
height: 250px;
width: 100%;
background-color: #00008B;
color: #fff;
margin: 0 15px;
font-size: 4em;
};
.cGKbZh, .rec-arrow-left {
    display: none !important;
}