.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
h1{
   font-weight: 300;
}

.header--black {
    background-color:var(--primary);
    backdrop-filter: blur(20px);
   }
   
nav{
    padding: 17px ;
}

.nav__toggle {
    cursor: pointer;
    z-index: 1400;
    display: none;
}

.nav__list {
    width: 30%;
}

.nav__toggle span {
    display: block;
    width: 1.5rem;
    transition: all .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    height: 2px;
    background-color: var(--colorDarkblue);
    transform-origin: 5px 2px;
}


.nav__toggle span:not(:last-child) {
    margin-bottom: 3px;
}

.nav__item{
    text-transform: uppercase;
    letter-spacing: .71px;
    font-weight: bold;
}

.nav__link{
    color: var(--colorDarkblue);
    font-size: 13px;
    transition:  color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) ;
}

.nav__link:hover{
     color: var(--colorCyan);
}
.nav__item:not(:last-child) {
padding-right: 40px;
}
.green{
    color: var(--colorCyan);
}

@media (max-width:1024px) {
     .nav__toggle {
        display: block;
    }
.green {
    color: var(--colorCyan);
}
     .nav__item {
        border-bottom: 1px solid var(--GrayishBlue);
        margin: 0 2rem;
        padding-bottom: 1rem;
        text-transform: capitalize;
        margin-top: 20px;
    }

    .span1--active {
        color: white;
        transform: rotateZ(45deg);
    }
    .nav__item:not(:last-child) {
        padding-right: 0px;
    }
    .nav__list {
        display: block;
        position: fixed;
        top: 3.7rem;
        left: 0;
        background-color: var(--colorGrayishdarkblue);
        transform: translateX(-110%);
        transition: all .6s ease-in-out;
        width: 256px;
        height: 700px;
    }
    .nav__link{
          font-size: 1rem;
          line-height: 1.4rem;
          color:var(--colorLightgray);
          font-weight: 100;
    }

    .nav__list--active {
        transform: translateX(0%);
    } 
}



