header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    }

.header--black {
    /* background-color: var(--primary); */
    /* backdrop-filter: blur(10px); */
    transition: background-color .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);    
    /* color:var(--light); */
}

.nav__logo {
    color: #0e2b3d;
    font-size: 27px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle span {
    display: block;
    width: 1rem;
    transition: all .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    height: 2px;
    background-color: rgb(130, 220, 248);
    transform-origin: 1.1px 2px;
}

.nav-toggle span:not(:last-child) {
    margin-bottom: 3px;
}

.span1--active {
    color: white;
    transform: rotateZ(45deg);
}

.links a {
    color: #666666;
    text-transform: capitalize;
    display: block;
    padding: .5rem 1rem;
    /* margin-bottom: .5rem ; */
    border-top: 1px solid #c7c6c6;
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
}

.social-icons {
    display: none;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.show-container {
    height: 10rem;
}

@media screen and (min-width: 1024px) {
    .nav-center {
        max-width: 122rem;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.3rem 0;
    }
.links a {
    border-top: none;
}
    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .links a {
        margin: 0 0.5rem;
        /* color: black; */
        font-weight: 500;
    }

    .links a:hover {
        /* padding: 0; */
        /* background: transparent; */
        color: #086AD8;
        transition: color .4s ubic-bezier(0.68, -0.55, 0.265, 1.55);
        
    }

    .social-icons {
        display: flex;
    }

    .social-icons a {
        margin: 0 0.5rem;
    }

}


